node_modules
apps/desktop/dist/
apps/desktop/dist-electron/
apps/desktop/build-resources/
apps/desktop/release/
apps/web/dist/
apps/backend/.pytest_cache/
apps/backend/src/**/*.pyc
apps/backend/src/**/__pycache__/
apps/backend/src/*.egg-info/
__pycache__
.pytest_cache
*.pyc
*.pyo
*.log
.env
coverage
apps/backend/.venv
apps/backend/profile
apps/web/dist
apps/desktop/dist
apps/desktop/build-resources
test_runs/*
!test_runs/.keep
